#tooltipPass {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 100%;
  }
  
  #tooltiptextPass {
    display: none;
    width: 90%;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -40%;
    border: 4px solid rgba(240, 248, 255, 0.8);
    box-shadow: 0px 0px 8px 8px rgba(20, 20, 60, 0.6);
  }
  
  #tooltiptextPass::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -16px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #f1f1f1 transparent;
  }
  
  #messagePass {
    display: block;
    background: transparent;
    position: relative;
    padding: 10px;
    margin-top: 0px;
    
  }
  
  #messagePass p {
    line-height: 1.4;
    font-size: 16px;
  }

  #messagePass h4 {
    line-height: 1.2;
    font-size: 18px;
  }  

  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -15px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
  }	  