{% extends "emails/base.html" %}

{% block title %} Issue Confirmation {% endblock title %}

{% block content %}
<p style="color: blue; font-size: 14px; font-weight: bold;">Dear {{ issue.reported_by.get_full_name }},</p>
<p style="color: blue; font-size: 14px;">Your issue titled "<strong>{{ issue.title }}</strong>" has been reported successfully and is being reviewed.</p>
<p style="color: blue; font-size: 14px;">Thanks for your patience and understanding.</p>
<p style="color: blue; font-size: 14px;">We shall get back to you shortly.</p>
<p style="color: blue; font-size: 14px; font-weight: bold;">Regards,<br>
  The {{ site_name }} Team
</p>
{% endblock content %}