{% extends "emails/base.html" %}
 
{% block title %} Issue Assignment {% endblock title %}
 
{% block content %}
<p style="color: blue; font-size: 14px;">Dear {{ issue.assigned_to.get_full_name }},</p>
<p style="color: blue; font-size: 14px;">A new issue titled "<strong>{{ issue.title }}</strong>" has been assigned to you.</p>
<p style="color: blue; font-size: 14px;">Description: <strong>{{ issue.description }}</strong></p>
<p style="color: blue; font-size: 14px;">The affected apartment is <strong>{{ issue.apartment }}</strong>, which is currently occupied by the tenant
  <strong>{{ issue.reported_by.get_full_name }}</strong>
</p>
<p style="color: blue; font-size: 14px;;">Thank you for you attention to this matter, kindly follow up with this</p>
<p style="color: blue; font-size: 14px; font-weight: bold;">Regards,<br>
  The {{ site_name }} Team
</p>
{% endblock content %}